@import 'bootstrap';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'M PLUS 2 Variable', sans-serif;
  background: rgb(43, 24, 25);
  background: linear-gradient(147deg, rgba(43, 24, 25, 1) 0%, rgba(68, 35, 40, 1) 68%, rgba(61, 51, 52, 1) 100%);

  min-height: 100vh;

  color: white;

}

header {

  background: rgba(2, 0, 36, 0.568);
  background: linear-gradient(147deg, rgba(2, 0, 36, 1) 0%, rgba(1, 1, 1, 1) 35%, rgba(47, 48, 48, 1) 100%);

  box-shadow: 0 0 5px grey;
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;



  .logo {
    font-family: 'Phudu Variable', system-ui;
  }

  #searchbar {
    background-color: transparent;
    width: 300px;

    &::placeholder {
      color: rgb(180, 180, 180);
      font-size: 14px;
    }
  }

}


main {
  padding-top: 4rem;



  h2 {
    font-weight: 700;
  }

  .card {
    border: none;
    display: block;

    img {

      object-fit: cover;
    }

    &:hover {
      scale: 1.07;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      overflow-y: scroll;
      transition: 0.5s ease-in-out;
      border-radius: 8px;
      background-color: black;
      color: white;
      font-size: 12px;
      box-shadow: 0 0 8px white;


      &::-webkit-scrollbar {
        width: 5px;


      }


      &::-webkit-scrollbar-track {
        background: transparent;
        margin-right: 10px;

      }


      &::-webkit-scrollbar-thumb {
        background: rgba(214, 4, 4, 0.877);
        border-radius: 50rem;
        height: 10px;

      }

    }

    &:hover .overlay {
      opacity: 1;

    }
  }
}